.label {
    min-width: 280px;
    position: relative;
}

.input {
    border: none;
    background-color: var(--input);
    color: var(--text);
    padding: 12px 60px 12px 24px; 
    border-radius: 16px;
    outline: none;
    width: 100%;
}

.label svg {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.reset {
    cursor: pointer;
}

@media (max-width: 460px) {
    .label {
        width: 100%;
    }
}